* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f7f4;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: #2f855a;
    color: white;
    text-align: center;
    padding: 20px;
}


.image-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.image-section img {
    width: 80%;
    max-width: 700px;
    border-radius: 12px;
}


.content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    background: #ffffff;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}


.card button {
    background: #38a169;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #2f855a;
}

.map-section {
    padding: 30px;
    text-align: center;
}

.map-section iframe {
    width: 80%;
    height: 300px;
    border-radius: 10px;
    border: none;
}

.reviews {
    background: #e6fffa;
    padding: 30px;
    text-align: center;
}


.reviews-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
    margin-top: 20px;
}


.review-box {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    display: flex;              
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.stars {
    font-size: 18px;
}

.footer {
    background: #1a202c;
    color: white;
    text-align: center;
    padding: 15px;
}
